* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Comic Sans', 'Chalkboard SE', 'Comic Neue', sans-serif;
}

.title {
    text-align: center;
    margin: 40px;
    color: #E53170;
}

section > p {
    text-align: center;
}

.container_general {
    max-width: 1200px;
    margin: auto;
}

.container_allcard {
    width: 1200px;
    height: 400px;
    padding-top: 40px;
    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.card {
    float: left;
    width: 33.33%;
    background-color: black;
    border: 16px solid white;
    
}

.profile {
    color:white;
    line-height: 25px;
    float: left;
    padding: 5px 10px;
    
}
.male1 {
    height: 90px;
    float: left;
    
}

.name {
    color: aliceblue;
    font-weight: 700;
}

.job {
    font-size: 12px;
    
}

.mail {
    font-size: 12px;
    color:#17CCF2;
    text-decoration: none;
    
}